
.DS_Store
_site/about/2001/12/01/publication-Progenetix-net-an.html
_site/about/2006/03/01/publication-Online-database-and.html
_site/about/2007/01/01/publication-publication-Genomic-imbalances.html
_site/about/2014/01/01/publication-Progenetix-12-years.html
_site/about/2015/01/01/publication-arrayMap-2014-an.html
_site/assets/css/datatables.min.css
_site/assets/css/style.css
_site/assets/examples/beaconplus-CNV-response-example.json
_site/assets/examples/multi-sample-segments-unfiltered.tsv
_site/assets/fonts/Noto-Sans-700/Noto-Sans-700.eot
_site/assets/fonts/Noto-Sans-700/Noto-Sans-700.svg
_site/assets/fonts/Noto-Sans-700/Noto-Sans-700.ttf
_site/assets/fonts/Noto-Sans-700/Noto-Sans-700.woff
_site/assets/fonts/Noto-Sans-700/Noto-Sans-700.woff2
_site/assets/fonts/Noto-Sans-700/Noto-Sans-700/Noto-Sans-700.eot
_site/assets/fonts/Noto-Sans-700/Noto-Sans-700/Noto-Sans-700.svg
_site/assets/fonts/Noto-Sans-700/Noto-Sans-700/Noto-Sans-700.ttf
_site/assets/fonts/Noto-Sans-700/Noto-Sans-700/Noto-Sans-700.woff
_site/assets/fonts/Noto-Sans-700/Noto-Sans-700/Noto-Sans-700.woff2
_site/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot
_site/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg
_site/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf
_site/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff
_site/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2
_site/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic/Noto-Sans-700italic.eot
_site/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic/Noto-Sans-700italic.svg
_site/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic/Noto-Sans-700italic.ttf
_site/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic/Noto-Sans-700italic.woff
_site/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic/Noto-Sans-700italic.woff2
_site/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.eot
_site/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.svg
_site/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.ttf
_site/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.woff
_site/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.woff2
_site/assets/fonts/Noto-Sans-italic/Noto-Sans-italic/Noto-Sans-italic.eot
_site/assets/fonts/Noto-Sans-italic/Noto-Sans-italic/Noto-Sans-italic.svg
_site/assets/fonts/Noto-Sans-italic/Noto-Sans-italic/Noto-Sans-italic.ttf
_site/assets/fonts/Noto-Sans-italic/Noto-Sans-italic/Noto-Sans-italic.woff
_site/assets/fonts/Noto-Sans-italic/Noto-Sans-italic/Noto-Sans-italic.woff2
_site/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.eot
_site/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.svg
_site/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.ttf
_site/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.woff
_site/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.woff2
_site/assets/fonts/Noto-Sans-regular/Noto-Sans-regular/Noto-Sans-regular.eot
_site/assets/fonts/Noto-Sans-regular/Noto-Sans-regular/Noto-Sans-regular.svg
_site/assets/fonts/Noto-Sans-regular/Noto-Sans-regular/Noto-Sans-regular.ttf
_site/assets/fonts/Noto-Sans-regular/Noto-Sans-regular/Noto-Sans-regular.woff
_site/assets/fonts/Noto-Sans-regular/Noto-Sans-regular/Noto-Sans-regular.woff2
_site/assets/img/arraymap-logo-inverse.svg
_site/assets/img/arraymap-logo-manual-white-on-empty.svg
_site/assets/img/arraymap-logo.svg
_site/assets/img/arraymap_black_180.png
_site/assets/img/arraymap_black_300.png
_site/assets/img/chroplot-GSM491153-chro9-labeled.svg
_site/assets/img/clippy.svg
_site/assets/img/ga4gh-core-object-model.png
_site/assets/img/ga4gh_circle_420x420.png
_site/assets/img/icn_EPMC_16.gif
_site/assets/img/icn_Progenetix_16.png
_site/assets/img/icn_publications.png
_site/assets/img/icnICDM.png
_site/assets/img/icnICDT.png
_site/assets/img/icnInfo.png
_site/assets/img/icnNCIt.png
_site/assets/img/icnPubMed.png
_site/assets/img/icnPubs.png
_site/assets/img/icnPubsACGH.png
_site/assets/img/icnPubsCCGH.png
_site/assets/img/icnPubsSeq.png
_site/assets/img/icons8-edit-file-26.png
_site/assets/img/logo_beacon.png
_site/assets/img/logo_elixiir-white-orange.png
_site/assets/img/logo_info.baudisgroup.org.png
_site/assets/img/logo_info.compbiozurich.org.png
_site/assets/img/logo_info.progenetix.org.png
_site/assets/img/logo_internal.baudisgroup.org.png
_site/assets/img/newdoc.afdesign
_site/assets/img/newdoc.svg
_site/assets/img/progenetix_black_180.png
_site/assets/img/progenetix_black_300.png
_site/assets/img/site-specific/favicon.ico
_site/assets/img/site-specific/site-logo-main.png
_site/assets/img/site-specific/site-logo-topright.png
_site/assets/img/site_logo.png
_site/assets/img/UZH_logo_180.png
_site/assets/js/autocomplete-genecoordinates.js
_site/assets/js/datatables.min.js
_site/assets/js/dataTables.pageResize.min.js
_site/assets/js/form.js
_site/assets/js/jquery-ui.js
_site/assets/js/jquery.js
_site/assets/js/pgxjs/biosample-details.js
_site/assets/js/pgxjs/biosubsets-table.js
_site/assets/js/pgxjs/histosvg.js
_site/assets/js/pgxjs/publication-details.js
_site/assets/js/pgxjs/publication-table.js
_site/assets/js/pgxjs/subset-details.js
_site/assets/js/query.js
_site/assets/js/uploader.js
_site/assets/js/yaml.js
_site/assets/preload/clipboard.min.js
_site/assets/preload/jquery-min.js
_site/assets/preload/jquery-ui.min.css
_site/assets/preload/jquery-ui.min.js
_site/assets/preload/navR.js
_site/assets/preload/site-style.css
_site/beaconplus-changelog.html
_site/categories/about-alpha-sorted-reverse.html
_site/categories/about-alpha-sorted.html
_site/categories/about-date-sorted-reverse.html
_site/categories/about-date-sorted.html
_site/categories/about.html
_site/categories/API-alpha-sorted-reverse.html
_site/categories/API-alpha-sorted.html
_site/categories/API-date-sorted-reverse.html
_site/categories/API-date-sorted.html
_site/categories/API.html
_site/categories/howto-alpha-sorted-reverse.html
_site/categories/howto-alpha-sorted.html
_site/categories/howto-date-sorted-reverse.html
_site/categories/howto-date-sorted.html
_site/categories/howto.html
_site/categories/news-alpha-sorted-reverse.html
_site/categories/news-alpha-sorted.html
_site/categories/news-date-sorted-reverse.html
_site/categories/news-date-sorted.html
_site/categories/news.html
_site/categories/publications-alpha-sorted-reverse.html
_site/categories/publications-alpha-sorted.html
_site/categories/publications-date-sorted-reverse.html
_site/categories/publications-date-sorted.html
_site/categories/publications.html
_site/citation.html
_site/CNAME
_site/doc/api.html
_site/doc/bycon/byconplus.html
_site/doc/generated-doc-ByconLibs-byconplus/index.html
_site/doc/progenetix-registration/index.html
_site/doc/progenetix-search-samples/index.html
_site/doc/services/biosamples.html
_site/doc/services/collations.html
_site/doc/services/cytomapper.html
_site/doc/services/dbstats.html
_site/doc/services/deliveries.html
_site/doc/services/genespans.html
_site/doc/services/geolocations.html
_site/doc/services/ids.html
_site/doc/services/ontologymaps.html
_site/doc/services/phenopackets.html
_site/doc/services/publications.html
_site/doc/services/schemas.html
_site/doc/services/services.html
_site/howto/beacon-range-matches.html
_site/howto/genome-coordinates.html
_site/howto/icd-o-3-coding.html
_site/howto/ncit-coding.html
_site/howto/pgx-namespace.html
_site/howto/R-integration.html
_site/howto/templatefiles/index.html
_site/howto/yamlheader/index.html
_site/index.html
_site/news/2012/04/02/compbio-arraymap-feature-updates.html
_site/news/2013/05/22/progenetix-z-progenetix-arraymap-changes-2013-05-22.html
_site/news/2013/11/13/progenetix-new-publication-progenetix-12-years-of-oncogenomic-data-curation.html
_site/news/2019/10/14/ucsc-handover.html
_site/news/2020/03/30/prefix-changes.html
_site/news/2020/08/05/CC-BY.html
_site/news/2020/09/21/new-progenetix-site.html
_site/news/2020/09/30/Michael-Baudis__Beaconv2__GA4GH2020-poster.html
_site/news/2020/09/30/Michael-Baudis__Progenetix-and-Beacon__GA4GH2020-poster.html
_site/news/2020/10/09/pgx-namespace.html
_site/news/2020/10/21/API-documentation.html
_site/news/howto/2020/01/20/beaconplus-in-network.html
_site/news/howto/2021/01/04/website-biosample-table-mods.html
_site/news/website/2018/04/03/news-new-progenetix-Site.html
_site/numbers.html
_site/pages/+about.prepend/index.html
_site/pages/remnants/2012-03-23-progenetix-browser-compatibility.html
_site/pages/remnants/2012-05-06-progenetix-arraymap-and-progenetix-interface-update.html
_site/pages/remnants/2012-05-25-compbio-arrayplotter-feature-update.html
_site/pages/remnants/2013-02-07-progenetix-api.html
_site/pages/remnants/2018-05-10-mbaudis-152597977652912.html
_site/pages/remnants/2019-06-03-data-pages.html
_site/pages/remnants/2019-06-07-publication-pages.html
_site/pages/remnants/2019-09-24-stripplot-links.html
_site/pages/remnants/2020-01-22-api-biosamples.html
_site/pages/remnants/api-examples.html
_site/pages/remnants/progenetix-data-download.html
_site/pages/remnants/progenetix-linking-see-api.html
_site/pages/remnants/pubstats.html
_site/pdf/2020-09-21___Michael-Baudis__Beaconv2__GA4GH-8th-Plenary-poster.pdf
_site/pdf/2020-09-21___Michael-Baudis__Progenetix-GA4GH-standards__GA4GH-8th-Plenary-poster.pdf
_site/README.md
_site/resources/beaconplus-query-model.html
_site/resources/beaconplus.html
_site/schemas/beacon/current/BeaconAlleleRequest.json
_site/schemas/beacon/current/Chromosome.json
_site/schemas/beacon/v1.1.0/BeaconAlleleRequest.json
_site/schemas/beacon/v1.1.0/Chromosome.json
_site/schemas/progenetix/current/Biosample.json
_site/schemas/progenetix/current/Variant.json
_site/schemas/progenetix/v2020-02-12/Biosample.json
_site/schemas/progenetix/v2020-02-12/Variant.json
_site/tags/API-alpha-sorted-reverse.html
_site/tags/API-alpha-sorted.html
_site/tags/API-date-sorted-reverse.html
_site/tags/API-date-sorted.html
_site/tags/API.html
_site/tags/article-alpha-sorted-reverse.html
_site/tags/article-alpha-sorted.html
_site/tags/article-date-sorted-reverse.html
_site/tags/article-date-sorted.html
_site/tags/article.html
_site/tags/Beacon-alpha-sorted-reverse.html
_site/tags/Beacon-alpha-sorted.html
_site/tags/Beacon-date-sorted-reverse.html
_site/tags/Beacon-date-sorted.html
_site/tags/Beacon.html
_site/tags/BeaconPlus-alpha-sorted-reverse.html
_site/tags/BeaconPlus-alpha-sorted.html
_site/tags/BeaconPlus-date-sorted-reverse.html
_site/tags/BeaconPlus-date-sorted.html
_site/tags/BeaconPlus.html
_site/tags/bycon-alpha-sorted-reverse.html
_site/tags/bycon-alpha-sorted.html
_site/tags/bycon-date-sorted-reverse.html
_site/tags/bycon-date-sorted.html
_site/tags/bycon.html
_site/tags/code-alpha-sorted-reverse.html
_site/tags/code-alpha-sorted.html
_site/tags/code-date-sorted-reverse.html
_site/tags/code-date-sorted.html
_site/tags/code.html
_site/tags/documentation-alpha-sorted-reverse.html
_site/tags/documentation-alpha-sorted.html
_site/tags/documentation-date-sorted-reverse.html
_site/tags/documentation-date-sorted.html
_site/tags/documentation.html
_site/tags/GA4GH-alpha-sorted-reverse.html
_site/tags/GA4GH-alpha-sorted.html
_site/tags/GA4GH-date-sorted-reverse.html
_site/tags/GA4GH-date-sorted.html
_site/tags/GA4GH.html
_site/tags/identifiers-alpha-sorted-reverse.html
_site/tags/identifiers-alpha-sorted.html
_site/tags/identifiers-date-sorted-reverse.html
_site/tags/identifiers-date-sorted.html
_site/tags/identifiers.html
_site/tags/JavaScript-alpha-sorted-reverse.html
_site/tags/JavaScript-alpha-sorted.html
_site/tags/JavaScript-date-sorted-reverse.html
_site/tags/JavaScript-date-sorted.html
_site/tags/JavaScript.html
_site/tags/licensing-alpha-sorted-reverse.html
_site/tags/licensing-alpha-sorted.html
_site/tags/licensing-date-sorted-reverse.html
_site/tags/licensing-date-sorted.html
_site/tags/licensing.html
_site/tags/maps-alpha-sorted-reverse.html
_site/tags/maps-alpha-sorted.html
_site/tags/maps-date-sorted-reverse.html
_site/tags/maps-date-sorted.html
_site/tags/maps.html
_site/tags/ontologies-alpha-sorted-reverse.html
_site/tags/ontologies-alpha-sorted.html
_site/tags/ontologies-date-sorted-reverse.html
_site/tags/ontologies-date-sorted.html
_site/tags/ontologies.html
_site/tags/Perl-alpha-sorted-reverse.html
_site/tags/Perl-alpha-sorted.html
_site/tags/Perl-date-sorted-reverse.html
_site/tags/Perl-date-sorted.html
_site/tags/Perl.html
_site/tags/prefixes-alpha-sorted-reverse.html
_site/tags/prefixes-alpha-sorted.html
_site/tags/prefixes-date-sorted-reverse.html
_site/tags/prefixes-date-sorted.html
_site/tags/prefixes.html
_site/tags/Python-alpha-sorted-reverse.html
_site/tags/Python-alpha-sorted.html
_site/tags/Python-date-sorted-reverse.html
_site/tags/Python-date-sorted.html
_site/tags/Python.html
_site/tags/resource-alpha-sorted-reverse.html
_site/tags/resource-alpha-sorted.html
_site/tags/resource-date-sorted-reverse.html
_site/tags/resource-date-sorted.html
_site/tags/resource.html
_site/tags/schemas-alpha-sorted-reverse.html
_site/tags/schemas-alpha-sorted.html
_site/tags/schemas-date-sorted-reverse.html
_site/tags/schemas-date-sorted.html
_site/tags/schemas.html
_site/tags/services-alpha-sorted-reverse.html
_site/tags/services-alpha-sorted.html
_site/tags/services-date-sorted-reverse.html
_site/tags/services-date-sorted.html
_site/tags/services.html
_site/tags/statistics-alpha-sorted-reverse.html
_site/tags/statistics-alpha-sorted.html
_site/tags/statistics-date-sorted-reverse.html
_site/tags/statistics-date-sorted.html
_site/tags/statistics.html
_site/tags/tools-alpha-sorted-reverse.html
_site/tags/tools-alpha-sorted.html
_site/tags/tools-date-sorted-reverse.html
_site/tags/tools-date-sorted.html
_site/tags/tools.html
_site/tags/website-alpha-sorted-reverse.html
_site/tags/website-alpha-sorted.html
_site/tags/website-date-sorted-reverse.html
_site/tags/website-date-sorted.html
_site/tags/website.html
Gemfile.lock
